/*Global*/
*
{
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-style: normal;
}
h1
{
  font-size: 1.3em;
  font-weight: bold;
}
h2
{
  font-size: 1.2em;
  font-weight: bold;
}
h3
{
  font-size: 1.1em;
  font-weight: bold;
}
h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 0.5rem 0.75rem 0 0.75rem;
}
body
{
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}
.flex-center
{
  display:flex;
  justify-content: center;
  align-items: center;
}
.flex-around
{
display:flex;
justify-content: space-around;
align-items: center;
}
.flex-between
{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.flex-col-center
{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-col-around
{
display:flex;
flex-direction: column;
justify-content: space-around;
}
.flex-col-between
{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex-wrap
{
  flex-wrap: wrap;
}
.colorBleuF
{
  color: #0065fc;
}
.colorBleuC
{
  color: #deebff;
}
.colorGris
{
  color: #f2f2f2;
}
.bgBleuF
{
  background-color: #0065fc;
}
.bgBleuC
{
  background-color: #deebff;
}
.bgGris
{
  background-color: #f2f2f2;
}
.bold
{
  font-weight: bold;
}
.borderN
{
  border: none;
}
/*Nav*/
.sizeNav
{
  height: 100px;
}
.sizeLiens
{
  width: 45%;
}
.boxLien
{
  width: 140px;
  height: 99px; 
}
.colorLien
{
  color:black
}
.borderNav
{
  border-top: solid 1px transparent;
}
.borderNav:hover
{
  border-top: solid 1px #0065fc;
  cursor: pointer;
}
.borderNav:hover > a
{
  color: #0065fc;
}
.decoration-none
{
  text-decoration: none;
}
.margeLogo
{
  margin-bottom: 7px;
}
/*Header*/
/*1-Barre de recherche*/
.searchBar 
{
  width: 400px;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
}
.IcSize
{
  height: 50px;
  width: 50px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
.paddingSearch
{
  padding-left: 20px;
}
.search
{
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.searchButton
{
  height: 50px;
  width: 120px;
  cursor: pointer;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.searchButton:hover
{
  color: #0065fc;
  background-color: #f2f2f2;
}
/*2-Les filtres*/
.margeFiltre
{
  margin-top: 50px;
  margin-bottom: 40px;
}
.filtre
{
  display: flex;
  align-items: center;
}
.margeFiltreTitre
{
  margin-right: 20px;
}
.filtreIcText
{
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
}
.filtreIcText:hover > .filtreText
{
  color: #0065fc;
}
.filtreIcText:hover > .filtreIc
{
  color: white;
  background-color: #0065fc;
}
.filtreText
{
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-weight: bold;
}
.filtreIc
{
  margin-left: -2px;
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: #0065fc;
  background-color: #deebff;
}
/*3-info*/
.info
{
  display: flex;
  align-items: center;
}
.infoIc
{
  width: 20px;
  height: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin-right: 5px;
}
/*Hébergements et Populaires*/
.heb, .pop {
  background-color: #f2f2f2;
  padding: 2rem;
  border-radius: 1.5rem;
  margin: 0.5rem;
}
.carteTexte
{
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}
.carteNote
{
  margin: 0 0.75rem 0.25rem 0.75rem;
  font-size: 0.9rem
}
.flexHebPop
{
  display:flex;
  flex-direction: row-reverse;
}
/*-----Populaires------*/
.graph {
  color: #000000;
}
.popPrinc 
{
  width: 100%;
}
.popTitre
{
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.popCont
{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
  align-content:center;
}
.cartePop 
{
  background-color: white;
  padding: 0.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 15px #e3e3e3;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
  margin: 1rem;
}
.cartePopLien 
{
  display: flex;
  align-items: stretch;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.cartePopImage 
{
  position: relative;
  min-height: 100%;
  width: 50%;
}
.cadreImage 
{
  height: 7rem;
  object-fit: cover;
  max-width: 490px;
  width: 100%;
  max-height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.cartePopCont 
{
  display:flex;
  flex-direction: column;
  width: 50%;
}

/*Hébergements*/
.hebTitre {
  margin: 0;
}
.hebCont
 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.carteHeb
{
  background-color: white;
  padding: 0.25rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 15px #e3e3e3;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  height: 30%;
  margin: 0.75rem;
  width: 30%;
}
.carteHeb:hover
{
  transform: scale(1.02);
}
.carteHebImg
{
height: 7rem;
object-fit: cover;
max-width: 490px;
width: 100%;
max-height: 100%;
border-radius: 1rem 1rem 0 0;
}
.carteHebCont 
{
  display:flex;
  flex-direction: column;
  width: 100%;
}
#afficher_plus
 {
  font-weight: bold;
  border: none;
  font-size: 1rem;
  margin-top: 1rem;
}

/*Activités*/
.Activités
{
  margin-top: 50px;
  margin-bottom: 50px;
}
.blocAct
{
  width: 100%;
  height: 600px;
}
.blocActSmall
{
  width: 23%;
  height: 600px;
}
/*box*/
.boxAct
{
  width: 23%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.boxAct:hover
{
  cursor: pointer;
  transform: scale(1.05);
}
.boxActSmall
{
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.boxActSmall:hover
{
  cursor: pointer;
  transform: scale(1.03);
}
/*fin box*/
.hauteuritre
{
  height: 70px;
}
.titreAct
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  width: 95%;
}

*.imgAct1
{
  background-image: url("../images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.imgAct2
{
  background-image: url("../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.imgAct3
{
  background-image: url("../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.imgAct4
{
  background-image: url("../images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.imgAct5
{
  background-image: url("../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.imgAct6
{
  background-image: url("../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}*/
/*Footer*/
.footer
{
  height: 300px;
  margin-top: 100px;
}
.sizeBlocFooter
{
  height: 150px;
}
.margeLeft
{
  margin-left: 5%;
}
.margeRight
{
  margin-right: 15%;
}
.lienFooter
{
  color: black;
}
.divLienFooter
{
  height: 30px;
}
/*seseion mentorat
pour les espaces utilise rem avec padding
mettre les images en html et object-fit ?cover? pour les préparer */