/*Global*/
*
{
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-style: normal;
}
.flex-center
{
  display:flex;
  justify-content: center;
  align-items: center;
}
.flex-around
{
display:flex;
justify-content: space-around;
align-items: center;
}
.flex-between
{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.colorBleuF
{
  color: #0065fc;
}
.colorBleuC
{
  color: #deebff;
}
.colorGris
{
  color: #f2f2f2;
}
.bgBleuF
{
  background-color: #0065fc;
}
.bgBleuC
{
  background-color: #deebff;
}
.bgGris
{
  background-color: #f2f2f2;
}
.bold
{
  font-weight: bold;
}
.borderN
{
  border: none;
}
/*Nav*/
.sizeNav
{
  height: 100px;
}
.sizeLiens
{
  width: 45%;
}
.boxLien
{
  width: 140px;
  height: 99px; 
}
.colorAct
{
  color:black
}
.borderNav1
{
  border-top: #0065fc solid 1px;
}
.borderNav23
{
  border-top: transparent solid 1px;
}
.decoration-none
{
  text-decoration: none;
}
.margeLogo
{
  margin-bottom: 7px;
}
/*Header*/
.searchBar 
{
  width: 400px;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
}
.iSize
{
  height: 50px;
  width: 50px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
.paddingSearch
{
  padding-left: 20px;
}
.search
{
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.searchButton
{
  height: 50px;
  width: 120px;
  cursor: pointer;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}