/*Global*/
*
{
  font-family: 'Raleway', sans-serif;
}
body
{
  margin-left: auto;
  margin-right: auto;
}
.flex-center
{
  display:flex;
  justify-content: center;
  align-items: center;
}
.flex-around
{
display:flex;
justify-content: space-around;
align-items: center;
}
.flex-between
{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.flex-col-center
{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-col-around
{
display:flex;
flex-direction: column;
justify-content: space-around;
}
.flex-col-between
{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex-wrap
{
  flex-wrap: wrap;
}
.colorBleuF
{
  color: #0065fc;
}
.colorBleuC
{
  color: #deebff;
}
.colorGris
{
  color: #f2f2f2;
}
.bgBleuF
{
  background-color: #0065fc;
}
.bgBleuC
{
  background-color: #deebff;
}
.bgGris
{
  background-color: #f2f2f2;
}
.borderN
{
  border: none;
}
#HebPop, #activites
{
  padding-left: 20px;
  padding-right: 20px;
}

/*Nav*/
.sizeNav
{
  height: 100px;
}
.sizeLiens
{
  width: 45%;
}
.boxLien
{
  width: 140px;
  height: 99px; 
}
.colorLien
{
  color:black
}
.borderNav
{
  border-top: solid 1px transparent;
}
.borderNav:hover
{
  border-top: solid 1px #0065fc;
  cursor: pointer;
}
.borderNav:hover > a
{
  color: #0065fc;
}
.decoration-none
{
  text-decoration: none;
}
.margeLogo
{
  margin-bottom: 7px;
  padding-left: 20px;
}
/*Header*/
header
{
  padding-left: 20px;
}
/*1-Barre de recherche*/
.searchBar 
{
  width: 400px;
  border-radius: 10px;
  border: 1px solid #f2f2f2;}
.IcSize
{
  height: 50px;
  width: 50px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
.paddingSearch
{
  padding-left: 20px;
}
.search
{
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.searchButton
{
  height: 50px;
  width: 120px;
  cursor: pointer;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.searchButton:hover
{
  color: #0065fc;
  background-color: #f2f2f2;
}
/*2-Les filtres*/
.margeFiltre
{
  margin-top: 50px;
  margin-bottom: 40px;
}
.filtre
{
  display: flex;
  align-items: center;
}
.margeFiltreTitre
{
  margin-right: 20px;
}
.filtreIcText
{
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
}
.filtreIcText:hover > .filtreText
{
  color: #0065fc;
}
.filtreIcText:hover > .filtreIc
{
  color: white;
  background-color: #0065fc;
}
.filtreText
{
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-weight: bold;
}
.filtreIc
{
  margin-left: -2px;
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: #0065fc;
  background-color: #deebff;
}
/*3-info*/
.info
{
  display: flex;
  align-items: center;
}
.infoIc
{
  width: 20px;
  height: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin-right: 5px;
}
/*Main*/
#HebPop
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
/*Populaires*/
#populaires
{
  width: 30%;
  border-radius: 20px;
  background-color: #F2F2F2;
  margin-left: 20px;
}
.popTitre
{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.popTitre i
{
  display: flex;
  align-items: center;
  font-size: 25px;
}
.popCont
{
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popCont img
{
  width: 125px;
  height: 140px;
  object-fit: cover;
  display: flex;
  border-radius: 15px 0 0 15px;
}
.popCont a{
  display: flex;
  justify-content: center;
  text-decoration-line: none;
  color: black;
}
.popCartes
{
  display: flex;
  width: 80%;
  font-size: 1em;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
}
.popCont .popCartesCont
{
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.popCartesCont h4
{
  margin: 0 0 10px 0;
}
/*Hebergements version 0.3*/
#hebergements
{
  width: 67%;
  background-color: #f2f2f2;
  border-radius: 2rem;
}
.hebCont Img
{
  width: 100%;
  height: 9vw;
  object-fit: cover;
  font-size: 1rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.hebCont
{
  display: flex;
  justify-content: space-around;
   flex-wrap: wrap;
   font-size: 1em;
}
.hebCont figure
{
  margin: 0;
}
.hebCont figcaption h4
{
  margin: 10px 10px 10px 10px;
}
.hebCont figcaption p
{
  margin: 10px 10px 10px 10px;
}
.hebCont a
{
  width: 30%;
  text-decoration-line: none;
  color: black;
}
.hebCont .cartesEtoiles
{
  margin: 0 0 20px 10px;
}
#hebergements .hebTitre
{
  padding: 0 0 10px 25px;
}
#hebergements .afficher_plus
{
  padding: 0 0 10px 20px;
}
.hebCartes
{
  width: 90%;
  background-color: white;
  border-radius: 25px 25px 25px 25px;
  border: 5px solid white;
  margin-bottom: 20px;
}
.hebCartes:hover
{
  transform: scale(1.02);
}
/*Activités*/
.actTitre
{
  margin-top: 60px;
}
.actCont
{
  display: flex;
  justify-content: space-between;
}
.actCont h4
{
  padding-left: 10px;
  font-weight: bold;
}
.actCont .act1, .actCont .act4 
{
  text-decoration: none;
  color: black;
  width: 22%;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px #F2F2F2;
  border: 4px solid #f2f2f2;
}
.act1Cont img, .act4Cont img
{
  width: 100%;
  height: 35vw;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.act2_3
{
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.act2_3 .act2
{
  width: 100%;
  height: 55%;
  text-decoration: none;
  color: black;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px #F2F2F2;
  border: 4px solid #f2f2f2;
}
.act2Cont, .act3Cont, .act5Cont, .act6Cont
{
  height: 100%;
}
.act2Cont img
{
  width: 100%;
  height: 17vw;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.act2_3 .act3
{
  width: 100%;
  height: 35%;
  text-decoration-line: none;
  color: black;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px #F2F2F2;
  border: 2px solid #F2F2F2;
}
.act3Cont img
{
  width: 100%;
  height: 9vw;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.act5_6
{
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.act5_6 .act5
{
  width: 100%;
  height: 55%;
  text-decoration-line: none;
  color: black;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px #F2F2F2;
  border: 2px solid #F2F2F2;
}
.act5Cont img
{
width: 100%;
height: 17vw;
object-fit: cover;
border-radius: 20px 20px 0 0;
}
.act5_6 .act6
{
  width: 100%;
  height: 35%;
  text-decoration-line: none;
  color: black;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px #F2F2F2;
  border: 2px solid #F2F2F2;
}
.act6Cont img
{
  width: 100%;
  height: 9vw;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}/*mettre la meme proportion que sur la maquette pour les act2,3 et 4,6*/
/*Footer*/
.footer
{
  height: 300px;
  margin-top: 100px;
}
.sizeBlocFooter
{
  height: 150px;
}
.margeLeft
{
  margin-left: 5%;
}
.margeRight
{
  margin-right: 15%;
}
.lienFooter
{
  color: black;
}
.divLienFooter
{
  height: 30px;
}
/*seseion mentorat
pour les espaces utilise rem avec padding
mettre les images en html et object-fit ?cover? pour les préparer */